@tailwind base;
@tailwind components;
@tailwind utilities;

.headerbg{
    background-image: url("../../public/image-header.jpg");
    background-position: center;
    background-size: cover;
    height: 80vh;
}